@import url(http://fonts.googleapis.com/css?family=Montserrat);

.forgot-page * {
    font-family: montserrat, arial, verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.forgot-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #A1FFCE;
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
    background: linear-gradient(to right, #FAFFD1, #A1FFCE);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.forgot-container {
    position: relative;
    height: 450px;
    background: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 400px;
    padding-top: 10px;
    animation: form 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);

}

@keyframes form {

    0% {
        transform: translateY(-10%);
    }
}

.forgot-container:hover {
    transform: scale(1);
    border-radius: 50px;
}

.forgot-container:hover {
    box-shadow: 0px 0px 30px 1px rgb(0, 0, 0);
}

.forgot-container .otp .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 800;
    letter-spacing: 2px;
    position: relative;
    top: -15px;
}

.description {
    position: relative;
    top: -9px;
    color: #000000;
    margin-top: 10px;
    font-size: 15px;
}

.forgot-container .otp-inputs {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 1px solid black;
    background: transparent;
}

.forgot-container .otp-inputs label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;

}

.forgot-container .otp-inputs input:focus~label,
.otp-inputs input:valid~label {

    top: -5px;

}

.forgot-container .otp-inputs input {

    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    padding: 0 35px 0 5px;
    color: #000000;
}

.forgot-container .otp-inputs .icon {

    position: absolute;
    right: 8px;
    line-height: 58px;
    /* color: white; */

}

.forgot-container .input-text:focus {
    outline: none;
}

/* Forgot Input Field Start */

/* .forgot-container .otp-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.forgot-container .otp-inputs input {
    position: relative;
    top: 13px;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    color: #000000;
    border-radius: 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.363);
    background-color: rgba(0, 0, 0, 0.05);
}

.forgot-container .otp-inputs input:focus {
    border: 1px solid #27ae60;
} */


/* Forgot Input Field End */

/* .forgot-container .otp-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.forgot-container .otp-inputs input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    padding: 0 35px 0 5px;
    color: #000000;
}

.forgot-container .otp-inputs input:focus {
    top: -5px;
} */

/* .forgot-container .verify {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 17px;
    margin: 20px 34px 20px 34px;
    padding: 10px;
    background: transparent;
    color: rgb(7, 7, 7);
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
    break-before: 2;
    text-decoration: none;
}

.forgot-container .verify:hover {
    letter-spacing: 5px;
    color: black;
    text-decoration: none;
    background: linear-gradient(to right, #FAFFD1, #A1FFCE);
} */

.forgot-container button {

    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #27ae60;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s linear;
    break-before: 2;

}

.forgot-container button:hover{

    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 3px #27ae60;
}

.forgot-container form .close {
    position: absolute;
    right: 24px;
    top: 24px;
    background: transparent;
    text-decoration: none;
    color: #000000;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: .3s ease;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.forgot-container form .close:hover {
    background-color : #27ae60;
}

.forgot-container .resend {
    position: relative;
    color: #000000;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    top: 30px;
}
.forgot-container .resend a{
    position: relative;
    top: 0px;
    text-decoration: none;
    color: rgb(0, 60, 255);
    cursor: pointer;
}
.forgot-container .resend a:hover{

    text-decoration: underline;
}
@media (max-width: 360px) {
    .forgot-container {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .otp-inputs {
        width: 290px;
    }
}